<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestMyBank" verbose="1" parallel="false">
    <parameter name="Browser" value="Chrome"/>
    <listeners>
        <listener class-name="com.TestMyBank.utilities.TestngReports"/>
    </listeners>

    <test name="BankingApp Test Chrome">

        <classes>

            <!--class name="com.TestMyBank.testCases.TC_LoginTest_001"/-->
            <class name="com.TestMyBank.testCases.TC_NewCustomer_002"/>
            <class name="com.TestMyBank.testCases.TC_DeleteCustomer_003"/>
            <!-- You can add more classes here -->
        </classes>
    </test>
</suite>
